.middle.background {
  background: url("http://murphyshawaii.com/media/2014/04/murphys-front.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 150px;
}

.ui.borderless.topmenu.container.menu {
  box-shadow: none;
  border: none;
}

.item1 {
  size: 100px;
}

.eight.wide.column {
  color: white;
}

.footer {
  background-color: #004030;
  color: white;
}

.text-right {
  font-size: medium;
  font-weight: bold;
}

